/* Link to this file from inside Firefox's profile folder, inside
 * a folder named 'chrome'.
 * You can find the profile folder using Firefox's 
 * about:profiles page.
 *
 * NB Since version 69, the following preference must be set to true:
 * toolkit.legacyUserProfileCustomizations.stylesheets
 *
 * NB This preference must also be set to true for
 * the @-moz-document 'at' rule to work:
 * layout.css.moz-document.content.enabled
 *
 * See about:config to enable these preferences.
 *
 * Other useful references:
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@document
 * https://davidwalsh.name/firefox-user-stylesheet
 * https://superuser.com/questions/318912
 */


/* Menu item on shareview.co.uk text should be white on hover */
@-moz-document domain("shareview.co.uk") {
    .rightSubNav a span.additional-background .menu-item-text:hover {
        color: white!important;
    }
}

/* Hide the annoying grey lines */
@-moz-document domain("eqi.co.uk") {
    #header-wrapperTop {
        border-bottom: none !important;
    }
    .grid-lines-wrapper .grid-lines {
        width: 0px !important;
    }
}

/* Prevent the content of company announcements from being trimmed */
@-moz-document domain("markets.ft.com") {
    .mod-detail-app__document {
        overflow-x: visible !important;
    }
}

/* Improve the readability of the BBC weather forecast */
@-moz-document domain("bbc.co.uk") {
  .wr-day__weather-type-description-container {
    display: inline !important;
    float: none !important;
  }
  .wr-day--active .wr-day__weather-type-description {
    box-sizing: content-box !important;
    padding-top: 0.25em !important;
  }
  .wr-day__content__weather-type-description--opaque {
    border: 0 !important;
    padding-top: 0.75em !important;
  }
}

/* Fix Garmin workout editor */
@-moz-document domain("connect.garmin.com") {
  .workout-summary-page-container .repeat-number-of-iterations {
    min-width: 5em;
  }
}

